.card{
  margin: 10px;
  width: 350px;
  height: 350px;
display: flex;
flex-direction: column;
text-align: center;
}
img{
  height: min-content;
  margin-top: 5px;
  margin-left: 75px;
}
